# large .mat files
inputs-outputs/OIBpicks_raw.mat

# datasets
data/

# OIB picking (different GitHub repo source)
functions/IceBridge/

# old workflow
workflows/dynamic-initial-UNTESTED/

# temporary files
*.asv
*.ipynbcheckpoints

# Files for running on R2
Matlab-R2

# Time series images
figures/timeseries/
