# large .mat files
inputs-outputs/downscaledClimateVariables_2009-2019.mat
inputs-outputs/OIBpicks_raw.mat

# datasets
data/

# OIB picking (different GitHub repo source)
scripts/1_synthesizeDatasets/OIBPicking
scripts/1_synthesize_datasets/OIBPicking

# old workflow
workflows/dynamic-initial-UNTESTED/

# temporary files
*.asv
*.ipynbcheckpoints
